/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
	--header-height: 3rem;
	--font-semi: 600;
}

/*===== Colores =====*/
:root{
	--first-color: rgb(0, 20, 148);
	--second-color: rgb(255, 255, 255);

}

/*===== Fuente y tipografia =====*/
:root{
	--body-font: 'Poppins', cursive;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
	:root{
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
	}
}

/*=====Margenes=====*/
:root{
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

/*===== z index =====*/
:root{
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	margin: var(--header-height) 0 0 0;
	font-family: cursive;
	font-size: var(--normal-font-size);

}
h1,h2,p{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}

/*===== CLASS CSS ===== */
.section-title{
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--second-color);
	margin-top: var(--mb-2);
	margin-bottom: var(--mb-4);
	text-align: center;
}
.section-title::after{
	position: absolute;
	content: "";
	width: 64px;
	height: 0.18rem;
	left: 0;
	right: 0;
	margin: auto;
	top: 2rem;
	background-color: var(--first-color);
}
.section{
	padding-top: 3rem;
	padding-bottom: 2rem;

}

/*===== LAYOUT =====*/
.bd-grid{
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
.l-header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color:var(--first-color);
	box-shadow: 0 1px 4px rgba(255, 255, 255, 0.75);
}

/*===== NAV =====*/
.nav{
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--font-semi);

}
@media screen and (max-width: 780px){
	.nav__menu{
		position: fixed;
		top: var(--header-height);
		right: -100%;
		width: 80%;
		height: 100%;
		padding: 2rem;
		background-color: var(--second-color);
		transition: .5s;
	}
}
.nav__item{
	margin-bottom: var(--mb-4);
}
.nav__link{
	position: relative;
	color: #0303fa;
}
.nav__link:hover{
	position: relative;
	border-color: var(--first-color);
}
.nav__link:hover::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: #0248f8;
}
.nav__logo{
	color: var(--second-color);
	animation: glitch 4.5s infinite;
}
.nav__toggle{
	color: var(--second-color);
	font-size: 1.5rem;
	cursor: pointer;
}

/*Active menu*/
.active::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: var(--second-color);
}

/*=== Show menu ===*/
.show{
	right: 0;
}

/*===== HOME =====*/
.home{
	height: calc(100vh - 3rem);
	row-gap: 1rem;
}
.home__data{
	align-self:center;
}

.home__title{
	font-size: var(--big-font-size);
	margin-bottom: 8rem;
}

.home__title-color{
	color: var(--first-color);
}
.logotext-color{
	color: rgba(255, 255, 255, 0.75);
}
.slogan{
	font-family: cursive;
	margin-top: -8rem;
	margin-left: 6rem;
	color: rgba(0, 253, 187, 0.94);
	font-style:italic;
}

#companyTxt{
	text-align:left;
}


.home__img{
	position: absolute;
	margin-top: 9rem;
	width: 295px;
}

/*BUTTONS*/
.button{
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: .75rem 2.5rem;
	font-weight: var(--font-semi);
	border-radius: .5rem;
}
.button:hover{
	box-shadow: 0 10px 36px rgb(255, 255, 255);
}

/* ===== ABOUT =====*/
.about__container{
	row-gap: 2rem;
	text-align: center;
}
.about__subtitle{
	margin-bottom: var(--mb-2);
	color: white;
}
.about__text{
	color: white;
}
.about__img{
	justify-self: center;
}
.about__img img{
	width: 200px;
	border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills__container{
	/*background-color: #3956a5;*/
	/*color: #fff;*/
	row-gap: 2rem;
	text-align: center;
}
.skills__subtitle{
	margin-bottom: var(--mb-2);
}
.skills__text{
	margin-bottom: var(--mb-4);
}
.skills__data{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	font-weight: var(--font-semi);
	padding: .5rem 1rem;
	margin-bottom: var(--mb-4);
	border-radius: .5rem;
	box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
	font-size: 2rem;
	margin-right: var(--mb-2);
	/*background-color: black;*/
	/*color: white;*/
}
.skills__names{
	display: flex;
	align-items: center;
}


.skills__img{
	border-radius: .5rem;
}

/* ===== WORK =====*/
.work__container{
	row-gap: 2rem;
}
.work__img{
	box-shadow: 3px 4px 25px rgba(255, 255, 255, 0.54);
	border-radius: .5rem;
	overflow: hidden;
}
.work__img img{
	transition: 1s;
	cursor: pointer;
}
.work__img img:hover{
	transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact__input{
	width: 100%;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi);
	padding: 1rem;
	border-radius: .5rem;
	border: 1.5px solid var(--second-color);
	outline: none;
	margin-bottom: var(--mb-4);
}
.contact__button{
	display: block;
	border: none;
	outline: none;
	font-size: var(--normal-font-size);
	cursor: pointer;
	margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
	background-color: #B0929526;
	/*color: #fff;*/
	text-align: center;
	font-weight: var(--font-semi);
	padding: 2rem 0;
}
.footer__title{
	font-size: 2rem;
	margin-bottom: var(--mb-4);
}
.footer__social{
	margin-bottom: var(--mb-4);
}
.footer__icon{
	font-size: 1.5rem;
	color: #fff;
	margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
	body{
		margin: 0;
	}
	.section{
		padding-top: 4rem;
		padding-bottom: 3rem;
	}
	.section-title{
		margin-bottom: var(--mb-6);
	}
	.section-title::after{
		width: 80px;
		top: 3rem;
	}

	.nav{
		height: calc(var(--header-height) + 1rem);
		
	}
	.nav__list{
		display: flex;
		padding-top: 0;
	}
	.nav__item{
		margin-left: var(--mb-6);
		margin-bottom: 0;
	}
	.nav__toggle{
		display: none;
	}
	.nav__link{
		color: var(--second-color);
	}

	.home{
		height: 100vh;
	}
	.home__data{
		padding: 0.5rem;

	}
	.home__social{
		padding-top: 0;
		padding-bottom: 2.5rem;
		flex-direction: row;
		align-self: flex-end;
	}
	.home__social-icon{
		margin-bottom: 0;
		margin-right: var(--mb-4);
	}
	.home__img img{
		width: 460px;
		bottom: 50%;
		border-radius: 50%;
	}

	.about__container, .skills__container{
		grid-template-columns: repeat(2,1fr);
		align-items: flex-start !important;
		text-align: initial;
	}
	.about__img img{
		width: 300px;
		border-radius: 50px;
	}
	.work__container{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2,1fr);
		column-gap: 2rem;
	}
	.contact__form{
		width: 300px;

	}
	.contact__container{
		justify-items: center;
		color-scheme: dark;
	}
}

@media screen and (min-width: 1024px){
	.bd-grid{
		margin-left: auto;
		margin-right: auto;
	}
	.home__img{
		right: 10%;
		top:-10px;
		border-radius: 50%;
	}
}
.A_logo{
	background-image:linear-gradient(-225deg,
	#18006b 0%,
	#37036c 29%,
	#ff1361 67%,
	#ffffff 100%);
	background-size:auto;
	background-clip:border-box;
	background-size: 200% auto;
	color: #ffffff;
	background-clip: content-box;
	text-fill-color:transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 1.5s linear infinite;
	display: inline-block;
	font-size: 30px;
}
@keyframes textclip{
	to{
		background-position: 200% center;
	}
}




/*html, body { height: 100%; }*/
/*body {*/
/*	background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);*/
/*	overflow: hidden;*/
/*}*/

/*.ocean {*/
/*	height: 5%;*/
/*	width:100%;*/
/*	position:absolute;*/
/*	bottom:0;*/
/*	left:0;*/
/*	background: #015871;*/
/*}*/

/*.wave {*/
/*	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;*/
/*	position: absolute;*/
/*	top: -198px;*/
/*	width: 6400px;*/
/*	height: 198px;*/
/*	animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;*/
/*	transform: translate3d(0, 0, 0);*/
/*}*/

/*.wave:nth-of-type(2) {*/
/*	top: -175px;*/
/*	animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;*/
/*	opacity: 1;*/
/*}*/

/*@keyframes wave {*/
/*	0% {*/
/*		margin-left: 0;*/
/*	}*/
/*	100% {*/
/*		margin-left: -1600px;*/
/*	}*/
/*}*/

/*@keyframes swell {*/
/*	0%, 100% {*/
/*		transform: translate3d(0,-25px,0);*/
/*	}*/
/*	50% {*/
/*		transform: translate3d(0,5px,0);*/
/*	}*/
/*}*/

